branches:
  only: master

jobs:
  include:
    - os: linux
      language: java
      jdk: openjdk11
      script: ./gradlew jvmTest
    - script: ./gradlew linuxX64Test

    - os: osx
      script: ./gradlew macosX64Test

    - os: windows
      language: shell
      install:
        - powershell
        - [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
            Invoke-Expression (
            Invoke-WebRequest https://github.com/shyiko/jabba/raw/master/install.ps1 -UseBasicParsing
            ).Content
      before_script:
        - jabba install zulu@1.11.0-2
        - jabba use zulu@1.11.0-2
      script: ./gradlew mingwX64Test

